/* write your custom styles here */
body {
  padding-right: 0px !important;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 400;
  color: #000;
}

.bootstrap-table {
  position: relative;
}

.alert {
  padding: 0.5rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  font-size: 13px;
}

.znav-container .navbar {
  padding-top: 0px !Important;
  padding-bottom: 0px !Important;
}

.znav-container .navbar a.navbar-brand {
  padding-top: 0px;
  padding-bottom: 0px;
}

.znav-container ul li.mega_menu {
  position: inherit;
}

.znav-container ul li.mega_menu .dropdown {
  right: 0px;
  max-width: 28rem;
  left: inherit;
}

.row {
  margin-right: -10px;
  margin-left: -10px;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9 {
  padding-right: 10px;
  padding-left: 10px;
}

.col-form-label .color-info {
  cursor: pointer;
}

.btn-link-dark {
  color: #000;
  padding: 0px;
  text-decoration: underline;
}

.znav-container ul.navbar-nav>li.has-megamenu .megamenu {
  width: 600px;
}

.align-top-radio .zinput label:before {
  top: 8px !important;
}

.btn {
  font-weight: 400;
  cursor: pointer;
}

.table td {
  font-size: 13px;
}

.table thead th {
  vertical-align: bottom;
  font-size: 13px;
  padding: 0.75rem !important;
}

.hq-full {
  /* min-height: calc(100vh - 90px);*/
  min-height: calc(100vh);
}

.form-control.input-sm {
  padding: 0.4rem;
  height: 33px !important;
}

.zradio-sm label:before {
  width: 18px !important;
  height: 18px !important;
}

.zcheckbox-sm label:before,
.zcheckbox-sm label:after {
  width: 18px !important;
  height: 18px !important;
}

.zradio-sm.zradio input[type='radio']:checked+label:before {
  box-shadow: inset 0 0 0 5px #007aff, 0 0 0 0 #007aff !important;
}

.zinput.zcheckbox-sm svg {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 27%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-45%, -45%);
  left: 8px;
  pointer-events: none;
}

.zinput-inline {
  display: inline-block !important;
  margin-left: 2px;
}

.zinput-inline label {
  font-weight: 400;
  padding-left: 1.5rem !important;
}

.zinput.has-error label {
  color: #FF3B30;
}

tb.required:after,
lable.required:after {
  content: " *";
  font-weight: bold;
  color: red;
}

.form-group .ui.dropdown {
  border-color: #e1e1e1 !important;
  box-shadow: none !important;
  border-radius: 3px !important;
  background-color: #fafafa !important;
  height: 33px;
  padding: 0.4rem !important;
  min-width: 100%;
}

.form-group .ui.multiple.dropdown>.text {
  margin: 0px !important;
}

.form-group .ui.selection.dropdown.active .menu {
  border-color: #e1e1e1 !important;
}

.form-group .ui.selection.dropdown .menu>.item {
  border-top: 1px solid #fff;
  padding: 10px 20px !important;
}

.form-group .ui.multiple.dropdown>.label {
  margin: 0px 2px 0px 0px !important;
  font-size: 10px !important;
  vertical-align: middle;
}

.form-group .ui.multiple.dropdown>.label i {
  margin-top: -3px;
  margin-left: 5px !important;
  display: inline-block;
  vertical-align: middle;
  color: #333;
  font-weight: 600;
}


.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem !important;
  line-height: 2.375rem !important;
  text-align: center;
  pointer-events: none;
  color: #aaa;
  left: 18px;
}

.tab_contant_box {
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
}

ul.pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

ul.pagination {
  background: #fff;
  font-weight: 400;
  border: 1px solid rgba(34, 36, 38, .15);
  box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%);
  border-radius: 0.28571429rem;
  min-height: 32px;
}

ul.pagination .page-item {
  min-width: 25px;
  text-align: center;
  position: relative;
  vertical-align: middle;
  line-height: 1;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  flex: 0 0 auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: 0 0;
  text-transform: none;
  transition: background .1s ease, box-shadow .1s ease, color .1s ease;
  display: flex;
  align-items: center;
}

ul.pagination .page-item a {
  background: none;
  border: none;
  padding: 6px 15px;
  text-transform: none;
  color: rgba(0, 0, 0, .87) !important;
  font-weight: 400;
  min-width: 25px;
  font-size: 12px;
}

ul.pagination .page-item:before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  height: 100%;
  width: 1px;
  background: rgba(34, 36, 38, .1);
}

ul.pagination .page-item.active {}

ul.pagination .page-item.active a,
ul.pagination .page-item:hover a {
  cursor: pointer;
  background: rgba(0, 0, 0, .03) !important;
  color: rgba(0, 0, 0, .95) !important;
}

.fix-layout-head {
  position: absolute;
  left: 15px;
  right: 15px;
  top: 66px;
  z-index: 9;
}

div.dataTables_wrapper div.dataTables_filter input {
  margin-left: 0.5em;
  display: inline-block;
  width: 250px;
}

div.dataTables_wrapper div.dataTables_info {
  font-size: 13px;
}

div.dataTables_wrapper div.dataTables_filter {
  margin-right: 180px;
}

div.dataTables_wrapper div.dataTables_filter input {
  position: relative;
  z-index: 9;
}

@media (min-width:1025px) {
  .container-fluid {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}


.messages-wrapper {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  width: 100%
}

.messages-card {
  overflow: hidden
}

.messages-wrapper,
.messages-sidebox {
  transition: all .2s
}

.messages-sidebox {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -ms-flex-positive: 0;
  flex-grow: 0
}

.messages-wrapper .messages-sidebox,
.messages-card .messages-sidebox {
  position: fixed;
  left: calc(-14rem - 1px);
  z-index: 10;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 16rem;
}

[dir=rtl] .messages-wrapper .messages-sidebox,
[dir=rtl] .messages-card .messages-sidebox {
  right: calc(-14rem - 1px);
  left: auto
}

.layout-sidenav-100vh .messages-wrapper .messages-sidebox {
  height: 100vh
}

.messages-card .messages-sidebox {
  position: absolute;
  bottom: 0
}

.messages-scroll {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
}

.messages-scroll.messages-content {
  position: relative;
  right: 0;
  left: 0;
  width: 100%;
}

.messages-list .list-group-item {
  z-index: auto !important;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: .375rem;
  padding-bottom: .375rem;
  width: 100%;
  border-right: 0;
  border-left: 0;
  border-radius: 0
}

.messages-list .list-group-item:first-child {
  border-top: 0
}

.messages-list .list-group-item:last-child {
  border-bottom: 0
}

.messages-list .list-group-item>* {
  padding-top: .375rem;
  padding-bottom: .375rem;
  font-size: 0.75019rem;
  color: #000;
}

.message-checkbox .custom-control {
  display: block !important;
  margin: 0;
  margin-top: -1px
}

.message-sender {
  min-width: 10rem
}

.message-subject {
  width: 100%
}

.message-date {
  white-space: nowrap
}

.message-attachment {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  width: 100%
}

.message-attachment>.media-body {
  min-width: 0
}

.message-attachment-file,
.message-attachment-img {
  display: block;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 4rem;
  height: 4rem
}

.message-attachment-file {
  display: inline-block;
  text-align: center;
  line-height: 4rem
}

.message-attachment-img {
  background-color: transparent;
  background-position: center center;
  background-size: cover
}

.message-attachment-filename {
  display: block;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap
}

.default-style .messages-wrapper .messages-sidebox {
  z-index: 1081;
  border: 1px solid #ddd;
}

.default-style .messages-sidebox-open .messages-sidebox {
  left: 0
}

.default-style .messages-card .messages-sidebox {
  background: #fff;
  box-shadow: 0 0 0 1px rgba(24, 28, 33, 0.075)
}

@media (min-width: 576px) {
  .default-style .messages-list .list-group-item {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap
  }

  .default-style .message-subject {
    width: auto
  }

  .default-style .message-date {
    margin-left: auto
  }
}

@media (min-width: 768px) {
  .default-style .messages-sidebox {
    -ms-flex-preferred-size: 14rem;
    flex-basis: 16rem
  }

  .default-style .messages-wrapper .messages-sidebox {
    -ms-flex-preferred-size: auto;
    flex-basis: auto
  }
}

@media (min-width: 992px) {

  .default-style .messages-wrapper,
  .default-style .messages-sidebox {
    transition: none !important
  }

  .default-style .messages-wrapper {
    padding-left: 0px;
  }

  .default-style .messages-sidebox {
    z-index: auto !important
  }

  .default-style .messages-wrapper .messages-sidebox {
    position: relative;
    left: 0;
    z-index: auto;
  }

  .default-style .messages-wrapper .messages-sidebox {
    height: auto;
  }

  .default-style .messages-card .messages-sidebox {
    position: static;
    right: auto;
    left: auto;
    -ms-flex-positive: 0;
    flex-grow: 0;
    height: auto
  }
}

.default-style[dir=rtl] .messages-sidebox-open .messages-sidebox {
  right: 0;
  left: auto
}

@media (min-width: 576px) {
  .default-style[dir=rtl] .message-date {
    margin-right: auto;
    margin-left: 0
  }
}

@media (min-width: 992px) {
  .default-style[dir=rtl] .messages-wrapper {
    padding-right: 14rem;
    padding-left: 0
  }

  .default-style[dir=rtl] .messages-wrapper .messages-sidebox {
    right: 0;
    left: auto
  }
}

.material-style .messages-wrapper .messages-sidebox {
  z-index: 1081
}

.material-style .messages-sidebox-open .messages-sidebox {
  left: 0
}

.material-style .messages-card .messages-sidebox {
  background: #fff;
  box-shadow: 0 0 0 1px rgba(24, 28, 33, 0.075)
}

@media (min-width: 576px) {
  .material-style .messages-list .list-group-item {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap
  }

  .material-style .message-subject {
    width: auto
  }

  .material-style .message-date {
    margin-left: auto
  }
}

@media (min-width: 768px) {
  .material-style .messages-sidebox {
    -ms-flex-preferred-size: 14rem;
    flex-basis: 14rem
  }

  .material-style .messages-wrapper .messages-sidebox {
    -ms-flex-preferred-size: auto;
    flex-basis: auto
  }
}

@media (min-width: 992px) {

  .material-style .messages-wrapper,
  .material-style .messages-sidebox {
    transition: none !important
  }

  .material-style .messages-wrapper {
    padding-left: 14rem
  }

  .material-style .messages-sidebox {
    z-index: auto !important
  }

  .material-style .messages-wrapper .messages-sidebox {
    position: absolute;
    left: 0;
    z-index: auto
  }

  .material-style .messages-wrapper .messages-sidebox {
    height: 100% !important
  }

  .material-style .messages-card .messages-sidebox {
    position: static;
    right: auto;
    left: auto;
    -ms-flex-positive: 0;
    flex-grow: 0;
    height: auto
  }
}

.material-style[dir=rtl] .messages-sidebox-open .messages-sidebox {
  right: 0;
  left: auto
}

.dataTables_wrapper {}

.dataTables_wrapper .bottom {
  display: flex;
  align-items: center;
}

.dataTables_wrapper .bottom .dataTables_info {
  padding: 0px;
}

.dataTables_wrapper .bottom .dataTables_length {
  flex: 1;
  margin-left: 40px;
}

.dataTables_wrapper .bottom .dataTables_length select {
  padding: 4px 21px 4px 6px;
}

.dataTables_wrapper .bottom .dataTables_length label {
  margin: 0px;
}

.messagesheader .btn {
  background: none;
}

.messages-sidebox a {
  font-size: 0.75019rem;
  letter-spacing: 0.01em;
  text-decoration: none !important;
}

.messages-sidebox a:hover {
  text-decoration: none;
}

.inmail_headers {
  border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.fixed-table-pagination .pagination-detail {
  font-size: 13px;
}

.fixed-table-pagination .page-list {}

.fixed-table-pagination .page-list .dropdown {
  margin-right: 10px;
  text-align: left;
}

.fixed-table-pagination .page-list .dropdown button {
  width: 50px;
  padding: 10px;
  font-size: 13px;
}

.fixed-table-toolbar {
  min-height: 44px;
}

.fixed-table-toolbar .btn-group {
  margin-bottom: 0px !important;
}

.fixed-table-toolbar .search .search-input {
  padding: 0.4rem;
  height: 33px !important;
  padding-right: 30px;
}

.fixed-table-toolbar .btn {
  padding: 5px 0px 0px 12px;
  background: none;
  cursor: pointer;
  text-decoration: underline;
}

.table-head-dropdown {
  position: absolute !important;
  z-index: 9999 !important;
  top: -2px;
  left: 10px;
  width: auto;
  min-width: 260px !important;
}

.dropdown-toggle::after {
  margin-left: 0;
  vertical-align: 0;

  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
}

.table td {
  text-align: left !important;
  padding: 0.75rem !important;
}

.fixed-table-pagination {
  display: block !important;
}

.fixed-table-pagination .page-list .btn-group {}

.fixed-table-pagination .page-list .btn-group .dropdown-toggle {
  height: 34px;
  line-height: 15px;
  padding: 6px 12px;
  background-color: #f8f8f8 !important;
}

.fixed-table-pagination .page-list .btn-group .dropdown-toggle:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.bootstrap-table .fixed-table-pagination>.pagination-detail .page-list {
  display: inline-block !important;
}

.pagination {}

.pagination .paginate_button {}

.pagination .paginate_button a {
  padding: .5rem .75rem !important;
}

.bootstrap-table .float-right.pagination {
  display: block !important;
}

.bootstrap-table .search:before {
  z-index: 1;
  font-family: 'iconsmind';
  content: "\e773";
  right: 7px;
  top: 8px;
  position: absolute;
  color: #000;
  opacity: 1;
  font-size: 16px;
  pointer-events: none;
  cursor: pointer;
}

::-webkit-search-cancel-button {
  height: 16px;
  width: 16px;
  display: inline-block;
  position: absolute;
  right: 3px;
  font-size: 16px;
  display: block;
  opacity: 1;
  cursor: pointer;
}

.bootstrap-table .fixed-table-toolbar::after {
  content: "";
  display: block;
  clear: both;
}

.table-hover tbody tr:hover {
  background-color: transparent;
}

@media (min-width: 576px) {
  .material-style[dir=rtl] .message-date {
    margin-right: auto;
    margin-left: 0
  }
}

@media (min-width: 992px) {
  .material-style[dir=rtl] .messages-wrapper {
    padding-right: 14rem;
    padding-left: 0
  }

  .material-style[dir=rtl] .messages-wrapper .messages-sidebox {
    right: 0;
    left: auto
  }
}

.was-validated :valid~.valid-feedback,
.was-validated :valid~.valid-tooltip,
.is-valid~.valid-feedback,
.is-valid~.valid-tooltip {
  display: block;
}

/* .was-validated .form-control:valid, .form-control.is-valid {
  border-color: #28c76f;
  padding-right: calc(1.45em + 1.142rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2328c76f' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(0.3625em + 0.2855rem) center;
  background-size: calc(0.725em + 0.571rem) calc(0.725em + 0.571rem); } */

/* .was-validated .form-control:valid:focus, .form-control.is-valid:focus {
  border-color: #28c76f;
  box-shadow: 0 0 0 0.25rem rgba(40, 199, 111, 0.25); }
 */
.was-validated textarea.form-control:valid,
textarea.form-control.is-valid {
  padding-right: calc(1.45em + 1.142rem);
  background-position: top calc(0.3625em + 0.2855rem) right calc(0.3625em + 0.2855rem);
}

/* .was-validated .form-select:valid, .form-select.is-valid {
  border-color: #28c76f; } */

/* .was-validated .form-select:valid:not([multiple]):not([size]), .was-validated .form-select:valid:not([multiple])[size="1"], .form-select.is-valid:not([multiple]):not([size]), .form-select.is-valid:not([multiple])[size="1"] {
  padding-right: 3.5rem;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23d8d6de' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e"), url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2328c76f' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
  background-position: right 1rem center, center right 1rem;
  background-size: 15px 14px, calc(0.725em + 0.571rem) calc(0.725em + 0.571rem); } */

.was-validated .form-select:valid:focus,
.form-select.is-valid:focus {
  border-color: #28c76f;
  box-shadow: 0 0 0 0.25rem rgba(40, 199, 111, 0.25);
}

/* .was-validated .form-check-input:valid, .form-check-input.is-valid {
  border-color: #28c76f; }

.was-validated .form-check-input:valid:checked, .form-check-input.is-valid:checked {
  background-color: #28c76f; }

.was-validated .form-check-input:valid:focus, .form-check-input.is-valid:focus {
  box-shadow: 0 0 0 0.25rem rgba(40, 199, 111, 0.25); }

.was-validated .form-check-input:valid ~ .form-check-label, .form-check-input.is-valid ~ .form-check-label {
  color: #28c76f; } */
.requiredAsterisk::after {
  content: " *";
  color: red;
}

.form-check-inline .form-check-input~.valid-feedback {
  margin-left: .5em;
}

.was-validated .input-group .form-control:valid,
.input-group .form-control.is-valid,
.was-validated .input-group .form-select:valid,
.input-group .form-select.is-valid {
  z-index: 1;
}

.was-validated .input-group .form-control:valid:focus,
.input-group .form-control.is-valid:focus,
.was-validated .input-group .form-select:valid:focus,
.input-group .form-select.is-valid:focus {
  z-index: 3;
}

.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 13px;
  color: #FF3B30;
}

.invalid-tooltip {
  position: absolute;
  top: 100%;
  z-index: 5;
  display: none;
  max-width: 100%;
  padding: 0.4rem 0.775rem;
  margin-top: .1rem;
  font-size: 13px;
  color: #fff;
  background-color: #FF3B30;
  border-radius: 0.358rem;
}

.was-validated :invalid~.invalid-feedback,
.was-validated :invalid~.invalid-tooltip,
.is-invalid~.invalid-feedback,
.is-invalid~.invalid-tooltip {
  display: block;
}

.was-validated .form-control:invalid,
.form-control.is-invalid,
.ui.dropdown.is-invalid {
  border-color: #FF3B30 !important;
  padding-right: calc(1.45em + 1.142rem) !important;
  /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23FF3B30'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23FF3B30' stroke='none'/%3e%3c/svg%3e");
   */
  background-repeat: no-repeat !important;
  background-position: right calc(0.3625em + 0.2855rem) center !important;
  background-size: calc(0.725em + 0.571rem) calc(0.725em + 0.571rem) !important;
}



.was-validated .zinput input:invalid+label:before {
  border-color: #FF3B30;
}

/* .was-validated .dropdown {
	border-color: #FF3B30 !important;
} */

.was-validated .form-control:invalid:focus,
.form-control.is-invalid:focus {
  border-color: #FF3B30;
  box-shadow: 0 0 0 0.25rem rgba(234, 84, 85, 0.25);
}

.was-validated textarea.form-control:invalid,
textarea.form-control.is-invalid {
  padding-right: calc(1.45em + 1.142rem);
  background-position: top calc(0.3625em + 0.2855rem) right calc(0.3625em + 0.2855rem);
}

.was-validated .form-select:invalid,
.form-select.is-invalid {
  border-color: #FF3B30;
}

.was-validated .form-select:invalid:not([multiple]):not([size]),
.was-validated .form-select:invalid:not([multiple])[size="1"],
.form-select.is-invalid:not([multiple]):not([size]),
.form-select.is-invalid:not([multiple])[size="1"] {
  padding-right: 3.5rem;
  /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23d8d6de' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e"), url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23FF3B30'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23FF3B30' stroke='none'/%3e%3c/svg%3e");
   */
  background-position: right 1rem center, center right 1rem;
  background-size: 15px 14px, calc(0.725em + 0.571rem) calc(0.725em + 0.571rem);
}

.was-validated .form-select:invalid:focus,
.form-select.is-invalid:focus {
  border-color: #FF3B30;
  box-shadow: 0 0 0 0.25rem rgba(234, 84, 85, 0.25);
}

.was-validated .form-check-input:invalid,
.form-check-input.is-invalid {
  border-color: #FF3B30;
}

.was-validated .form-check-input:invalid:checked,
.form-check-input.is-invalid:checked {
  background-color: #FF3B30;
}

.was-validated .form-check-input:invalid:focus,
.form-check-input.is-invalid:focus {
  box-shadow: 0 0 0 0.25rem rgba(234, 84, 85, 0.25);
}

.was-validated .form-check-input:invalid~.form-check-label,
.form-check-input.is-invalid~.form-check-label {
  color: #FF3B30;
}

.form-check-inline .form-check-input~.invalid-feedback {
  margin-left: .5em;
}

.was-validated .input-group .form-control:invalid,
.input-group .form-control.is-invalid,
.was-validated .input-group .form-select:invalid,
.input-group .form-select.is-invalid {
  z-index: 2;
}

.was-validated .input-group .form-control:invalid:focus,
.input-group .form-control.is-invalid:focus,
.was-validated .input-group .form-select:invalid:focus,
.input-group .form-select.is-invalid:focus {
  z-index: 3;
}



.button-loading {
  position: relative;
  border: none;
  outline: none;
  border-radius: 2px;
  cursor: pointer;
}




.button__text {
  color: #ffffff;
  transition: all 0.2s;
}

.button--loading .button__text {
  visibility: hidden;
  opacity: 0;
}

.button--loading::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: 10px;
  left: 10px;
  right: 0;
  bottom: 0;
  /* margin: auto; */
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

.zinput label input {
  width: 200px !important;
}

.ui.selection.dropdown {
  font-weight: 400 !important;
}

.ui.selection.dropdown.disabled {
  font-weight: 700 !important;
  opacity: 1;
  background-color: #fff !important;
}

.ui.selection.dropdown.table-head-dropdown {
  font-weight: 600 !important;
  border-color: #555555;
}

.table td {
  vertical-align: top !important;
}

.hex-col {
  max-width: 50px !important;
}

.rgb-col {
  max-width: 50px !important;
}

textarea.dark.form-control:focus {
  background-color: black !important;
  color: white !important;
}

.ui.popup {
  width: 100%;
}

.ui.popup>.header {
  font-size: 0.75019rem;
  font-weight: 600;
 font-family: 'Open Sans', sans-serif !important;
}

.ui.popup>.header+.content {
  font-size: 13px;
  line-height: 1.45;
 font-family: 'Open Sans', sans-serif !important;
}

.btn~.btn {
  margin-left: 10px;
}

table td a,
table td a:hover {
  color: #000;
  text-decoration: underline;
}

.CodeMirror {
  height: auto;
}

.gen_ag_details {
  font-size: 13px;
}

.gen_ag_details ul {
  padding: 0px;
  margin-left: 10px;
}

.gen_ag_details ul li {
  list-style: none;
  position: relative;
  padding-left: 1em;
}

.gen_ag_details ul li:before {
  content: '-';
  position: absolute;
  left: 0px;
}

.gen_ag_details ul li:marker {
  content: '';
}

@media (min-width:992px) {
  .znav-container ul.navbar-nav li.has-dropdown.mega_menu ul.dropdown {
    min-width: 28rem;
    display: flex;
    flex-wrap: wrap;
  }

  .znav-container ul.navbar-nav li.has-dropdown.mega_menu ul.dropdown li {
    width: calc(100% / 2);
  }
}

.bootstrap-table .fixed-table-container .table thead th .th-inner {
  padding: 0;
}

.dropdown-menu.show {
  display: block !important;
}

.tableButtonInlineShow .fixed-table-toolbar {
  position: absolute;
  right: 0px;
  top: -65px;
  height: 46px;
  display: flex;
  flex-direction: row-reverse;
}

.fixed-table-toolbar .btn-group {
  display: flex;
  align-items: end;
}

.tableButtonInlineShow .table-head-dropdown {
  position: relative !important;
  left: 0px !important;
  top: 0px !important;
}

.styled-checkbox {
  position: absolute;
  opacity: 0;
}

.styled-checkbox+label {
  position: relative;
  cursor: pointer;
  padding: 0;
}

.styled-checkbox+label:before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 18px;
  height: 18px;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
}


.was-validated .styled-checkbox:invalid+label:before {
  border: 1px solid #FF3B30;
}

.styled-checkbox:hover+label:before {
  /*  background: #007aff; */
}

.styled-checkbox:focus+label:before {}

.styled-checkbox:checked+label:before {
  background: #007aff;
}

.styled-checkbox:disabled+label {
  color: #b8b8b8;
  cursor: auto;
}

.styled-checkbox:disabled+label:before {
  box-shadow: none;
  background: #ddd;
}

.styled-checkbox:checked+label:after {
  content: "";
  position: absolute;
  left: 4px;
  top: 9px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  transform: rotate(45deg);
}


.checkbox_custom {
  display: inline-block;
  margin-left: 2px;
  margin-right: 5px !important;
}

.zinput label {
  padding-left: 2rem;
}


/* Absolute Center Spinner */
.loader.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999999;
}

/* Transparent Overlay */
.loader.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(20, 20, 20, .8), rgba(0, 0, 0, .8));

  background: -webkit-radial-gradient(rgba(20, 20, 20, .8), rgba(0, 0, 0, .8));
}

/* :not(:required) hides these rules from IE9 and below */
.loader.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loader.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: loaderSpinner 150ms infinite linear;
  -moz-animation: loaderSpinner 150ms infinite linear;
  -ms-animation: loaderSpinner 150ms infinite linear;
  -o-animation: loaderSpinner 150ms infinite linear;
  animation: loaderSpinner 150ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) -1.5em 0 0 0, rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) -1.5em 0 0 0, rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes loaderSpinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes loaderSpinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes loaderSpinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loaderSpinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.bootstrap-table .fixed-table-toolbar .columns {
  margin-top: 0px !important;
}


.page_table_heading {
  margin-bottom: 2rem;
}

.page_table_menu {
  margin-bottom: 20px;
  min-height: 46px;
  display: block !important;
}

.page_table_menu .row {
  height: 46px;
}

.page_table_menu .btn {
  padding: 5px 0px 0px 12px;
  background: none;
  cursor: pointer;
  text-decoration: underline;
  margin: 0px;
  line-height: 10px;
}

.page_table_menu .btn a {
  color: #000;
}

.turbolinks-progress-bar {
  visibility: hidden;
}

.min-w-100 {
  min-width: 100px !important;
}

.table td.vertical-middle,
.vertical-middle {
  vertical-align: middle !important;
}

.CodeMirror-sizer {
  font-size: 12px !important;
}

.ui-timepicker-standard {
  z-index: 1 !important;
}

.btn-circle.btn-xsm {
  width: 10px;
  height: 10px;
  padding: 3px 3px;
  border-radius: 15px;
  font-size: 0px;
  text-align: center;
}

.form-group .ui.multiple.dropdown>.label i.icon.delete:before {
  font-family: var(--fa-style-family, "Font Awesome 6 Pro");
}

.form-group .ui.multiple.dropdown>.label i {
  margin-top: -1px;
}


.Account_Status_Settings tbody .center {
  text-align: center !important;
}

.Account_Status_Settings tbody .arrowicons,
.Account_Status_Settings .arrowicons {
  /* font-size: 25px !important; */
  color: #007aff !important;
}

.Account_Status_Settings_first_table .fixed-table-toolbar {
  opacity: 0;
  pointer-events: none;
}

.Account_Status_Settings .righttable {
  position: absolute;
  left: 0px;
}

.Account_Status_Settings_second_table .Account_Status_Settings .bootstrap-table {
  padding-left: 20px;
}

/* .notice-template-sidebars-css{
	position:fixed;
	top:0;
	width:300px;
} */

.Account_Status_Settings .arrowiconstext {
  margin: auto;
  text-align: center;
}

.Account_Status_Settings .doublearrowiconstext {
  text-align: right;
  float: left;
  width: 50%;
  margin-left: 10px;
}


/*
  Input file
*/
.custom_file {
  position: relative;
  max-width: 300px;
}

.custom_file input {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0px;
  opacity: 0;
  cursor: pointer;
  display: block;
}


.upload_image_box {
  align-items: center;
}

.upload_image_box .custom_file {
  order: 1;
}

.upload_image_box .custom_file label {
  margin: 0px;
}

.upload_image_box .view_files_button {
  order: 2;
  margin-left: 13px;
  font-size: 13px;
  text-decoration: underline;
}

.upload_image_box .flow-progress.media {
  order: 3;
  width: 100%;
  margin: 10px 0px;
  background: #f7fbff;
  padding: 10px;
  border: 1px dashed #007aff;
  border-radius: 3px;
}

.upload_image_box .flow-progress.media .media-body strong {
  text-transform: capitalize;
  font-size: 13px;
}

.upload_image_box .flow-progress.media em {
  font-size: 12px;
}

.upload_image_box .flow-progress.media .btn {
  background: #007aff;
  width: 30px;
  line-height: 20px;
  padding: 0px;
  height: 30px;
  display: block;
  color: #fff;
}

.bootstrap-table .fixed-table-container .table tbody tr.no-records-found td {
  text-align: center !important;
}


.date-dropdowns {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;

}

.date-dropdowns select {
  margin: 0 2px;
  padding: 5px !important;
}

.linkButton {
  font-size: 12px;
  color: #000;

  background: none;
  cursor: pointer;
  text-decoration: underline;
  margin: 0px;
  line-height: 10px;
  cursor: pointer;
}

.linkButton:hover,
.linkButton:focus {
  font-size: 12px;
  color: #000;

  background: none;
  cursor: pointer;
  text-decoration: underline;
  margin: 0px;
  line-height: 10px;
  cursor: pointer;
}

.messages-wrapper {
  min-height: calc(100vh - 230px);
}

.messages-wrapper .messages-sidebox .tab_button.active {
  color: #007aff !important;
  background-color: #f8f8f8 !important;
}

.tab_contant_box {
  overflow: visible;
}

.tab_contant_box {
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
}

.inmail_headers {
  border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.inmail_headers .message-sender {
  min-width: 194px;
  padding-left: 33px;
}


.messages-wrapper .inboxcount {
  background-color: #007aff !important;
}

.messages-wrapper .userbadgecss {
  padding: 0.5em 0.5em !important;
}

.badge {
  padding: 0.5em 0.5em;
}

.inmail_headers {
  border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.inmail_headers .message-sender {
  min-width: 194px;
  padding-left: 33px;
}

.get_single_email .inmail_headers .message-sender {
  padding-left: 0px;
}

.CodeMirror.editor-fullscreen {
  z-index: 301;
  position: fixed !important;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.editor-toolbar {
  position: absolute;
  padding: 5px;
  bottom: 10px;
  right: 20px;
  z-index: 10;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
}

.editor-toolbar ul {
  padding: 0px;
  list-style: none;
  display: flex;
  margin: 0px;
}

.editor-toolbar ul li {
  margin: 0px 2px;
}

.editor-toolbar ul li a {
  display: block;
  height: 25px;
  width: 25px;
  color: #666;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
}

.editor-toolbar ul li a:hover {
  color: #fff;
}

.editor-toolbar ul li a i {}

.fullscreen_view .znav-container,
.fullscreen_view footer {
  display: none !important;
}

.znav-container ul li .inboxcount {
  width: 15px !important;
  height: 15px !important;
  position: absolute !important;
  right: -13px !important;
  top: -3px !important;
  border-radius: 10px 10px 10px 0px !important;
  font-size: 9px !important;
  line-height: 9px !important;
  margin: 0px !important;
  padding: 0px !important;
  line-height: 15px !important;
  align-items: center !important;
  justify-content: center !important;
}

.badge-primary {
  background-color: #007aff;
}

.quillEditor.is-invalid {
  border: 1px solid #FF3B30;
}

.custom_file.is-invalid label {
  border: 1px solid #FF3B30;
}

.logs_ul {
  padding: 0px 0px 0px 0px;
  margin: 0px;
}

.logs_ul li {
  position: relative;
  list-style: none;
  padding-left: 10px;
}

.logs_ul li:before {
  content: '-';
  position: absolute;
  left: 0px;
}

@media (max-width:1200px) {
  .container {
    width: 100%;
  }
}

@media (max-width:1024px) {
  .znav-container ul li a:not(.btn) {
    padding: 0.4rem 20px 0.4rem 10px;
  }
}


div.div-input {
  font-size: 13px;
  line-height: 1.5;
  border-color: #e1e1e1;
  box-shadow: none;
  border-radius: 3px;
  background-color: #fafafa;
  transition: all 0.2s ease-in-out;
  padding: 0.4rem;
  height: 33px !important;
  background-color: #eceeef;
  opacity: 1;
}

.policyList table thead td {
  font-weight: 600;
}

.fixed-table-container .badge {
  font-size: 10px !important;
}

.lodeHtmlData {
  display: none !important;
}

.page_table_menu.quotes_in_mail_box_ {
  margin-top: -60px !important;
}

.termsPayment div.form-control {
  background: #fff;
}

html.remodal-is-locked {
  padding-right: 17px;
}

.ui.selection.dropdown .menu {
  padding: 0 0;
}

.bg-white {
  background: white;
}


.alert-warning {
  background-color: #fff;
  border-color: #faf2cc;
  color: #000;
}

form.disabled input,
form.disabled select,
form.disabled .ui.dropdown {
  background-color: #eceeef;
  cursor: not-allowed;
  pointer-events: none;
}

.badge {
  font-size: 11px;
}

.top_icons_print {
  background: #000;
  color: #fff;
  padding: 10px 100px 10px 10px;
}

.top_icons_print i {
  color: #fff;
}

.top_icons_print #disclosureprint {
  cursor: pointer;
}

.template_section {
  padding: 20px;
}

.accountmaindropdown {}

body .accountmaindropdown .menu {
  max-height: 500px !important;
	overflow:hidden !Important;
}

body .accountmaindropdown .menu.visible {
  width: 570px !important;
  margin-top: 1px;

}

.accountmaindropdown .menu .item {
  width: calc(100% / 2);
  box-sizing: border-box;
  float: left;

}

.accountmaindropdown.ui.selection.dropdown .menu>.item {
  padding-right: 10px !important;
}


.znav-container ul li.more_mega_menu {
  position: inherit;
}

.znav-container ul li.more_mega_menu>.dropdown {
  display: flex !important;
  flex-wrap: wrap;
  right: 0px;
}

.znav-container ul li.more_mega_menu>.dropdown .custome-has-dropdown {}

.znav-container ul li.more_mega_menu>.dropdown .custome-has-dropdown.mega_menu.settings-menu {
  position: relative !important;
}

.znav-container ul li.more_mega_menu>.dropdown .custome-has-dropdown a:after {
  display: none !important;
}

.znav-container ul li.more_mega_menu>.dropdown .custome-has-dropdown .dropdown {
  position: relative;
  left: 0px !important;
  right: 0px !important;
  top: 0px !important;
  opacity: 1;
  box-shadow: none;
  padding-top: 0px !important;
}

.znav-container ul li.more_mega_menu>.dropdown .custome-has-dropdown>a {
  color: #000 !important;
}

.loadHtml {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}




.daterangepicker {
  z-index: 99999 !important;
}

.enter-payment-table tr td:nth-child(1) {
  width: 300px
}


.ui.selection.dropdown.table-head-dropdown {
    border-color: #f2f2f2 !Important;
    background: #f2f2f2;
}
.ui.selection.dropdown.table-head-dropdown.active .menu {
    border-color: transparent !important;
    margin-top: 10px;
    border-radius: 3px;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.08);
}
.ui.selection.dropdown.table-head-dropdown .menu > .item {
    border-top: none;
}
.ui.selection.dropdown.table-head-dropdown.active:active .menu, 
.ui.selection.dropdown.table-head-dropdown.active:hover .menu, 
.ui.selection.dropdown.table-head-dropdown.active:focus .menu, 
.ui.selection.dropdown.table-head-dropdown.active:active:focus .menu {
    border-color: #e1e1e1;
}

.transactionHistoryDropdown .btn{
    padding: 0px;
    border: none;
    background: transparent !important;
    text-decoration: underline !important;
	color: #292b2c !important;
}
.transactionHistoryDropdown .dropdown-menu{
    border: none;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.08);
}
.transactionHistoryDropdown .dropdown-menu .dropdown-item{
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0.01em;
    color: rgba(12, 21, 26, 0.6);
    padding: 0.4rem 1.2rem;
    text-decoration: none;
    background: none;
}
.transactionHistoryDropdown .dropdown-menu .dropdown-item:hover{
    color: #292b2c;
}

.process_radio_buttons{}
.process_radio_buttons .zinput{
    max-width: 75px;
    width: 75px;
}
.process_radio_buttons .zinput label:before{
    left:18.5px !important;
}